{% extends 'base.html.twig' %}

{% block title %}Scrapper{% endblock %}

{% block body %}

    <div class=" pt-4">
        <div class="container py-4 shadow bg-white">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="mb-3">
                        <label for="registration_code" class="form-label">{{ 'Registration code'|trans }}</label>
                        <input type="text" class="form-control" id="registration_code" placeholder="{{ 'Enter registration code here'|trans }}">
                    </div>
                    <button type="submit" id="scrape" class="btn btn-primary">
                        {{ 'Scrape'|trans }}
                    </button>
                    <button type="submit" id="add-test-data" class="btn btn-secondary ms-3">
                        {{ 'Add a Test data'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="my-5">
        <div class="container py-4 shadow bg-white">
            <div class="row">
                <div class="col-">
                    <table id="myTable" class="display">
                        
                    </table>
                </div>
            </div>
        </div>
    </div>


    


    
{% endblock %}


{% block pagestyles %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
{% endblock %}

{% block pagescripts %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
<script src="{{ asset('build/datatable.js') }}"></script>
{% endblock %}
