
<div class="row mb-3">
    <div class="col-5 fw-bold">
        {{ 'Name'|trans }}:
    </div>
    <div class="col-7">
        {{ company.name }}
    </div>
</div>

<div class="row mb-3">
    <div class="col-5 fw-bold">
        {{ 'Registration Code'|trans }}:
    </div>
    <div class="col-7">
        {{ company.registrationCode }}
    </div>
</div>

<div class="row mb-3">
    <div class="col-5 fw-bold">
        {{ 'VAT'|trans }}:
    </div>
    <div class="col-7">
        {{ company.vat }}
    </div>
</div>

<div class="row mb-3">
    <div class="col-5 fw-bold">
        {{ 'Address'|trans }}:
    </div>
    <div class="col-7">
        {{ company.address }}
    </div>
</div>

<div class="row mb-3">
    <div class="col-5 fw-bold">
        {{ 'Phone'|trans }}:
    </div>
    <div class="col-7">
        {{ company.phone }}
    </div>
</div>
